/*img {
    float: right;
}*/
.wrapper,
.wrapper2,
.item {
    padding: 20px;
    color: white;
} 
.wrapper {
    background-color: gray;
}
.wrapper2 {
    background-color: green;
}
.item {
    background-color: red;
    
}
.item1 {
    background-color: cyan;
    float: left;
}

.item2 {
    background-color: darkmagenta;
    float: right;
}
.item3 {
    background-color: firebrick;
}
   