a:focus {
    font-weight: bold;
}
p::first-letter {
    font-size: 40px;
}

P::first-line {
    text-decoration: underline;
}
p::selection {
    background-color: yellow;
    color: #000;
}
hi::before {
    content: "this is";
    text-transform: uppercase;
}
h1::after {
    content: "channel";
    color: red;
}
.list1 li:first-child {
    color: blue;
}

.list1 li:last-child {
    color: green;
}
.list2 li:nth-child(even) {
    color: blue ;
}
.list2 li:nth-child(odd) {
    color: green ;
}
.list3 li:nth-child(3n) {
    color:yellow ;
}
.list3 li:nth-child(4n+2) {
  border: 1px solid black;
}
.text span:first-of-type {
    color: red;
}
.text span:last-of-type {
    color:green;
}
.text span:nth-of-type (2){
    border: 1px solid black;
}
.list4 li:not(.item) {
    border: 1px solid black;
  }

  /*********** #5  ************/
  /*
  p {
      background-color: green;
      color: #fff;
      padding: 10px;
  }
  .style1 {
      background-color: aqua;
      color: #000;
      border: none !important;
  }

  #style2 {
      background-color: pink;
      border: 2px solid black;
  }
  p {
      background-color: gray;
  }
  */
  body {
      color: red;
      border: 1px solid black;

  }
  p {
      border: inherit;
      margin: inherit;
  }